.edit-modal-overlay {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .edit-modal-content {
    background-color: white;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative; 
  }
  
  .closeBtn {
    position: absolute;
    top: 10px;
    right: 22px;
    font-size: 20px;
    color: red;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .closeBtn:hover {
    font-size: 25px;
    opacity: 1;
  }
  
  .editDetails {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .saveButton{
    border: none;
    margin-top: 10px;
    color: white;
    background-color: rgb(45, 125, 55);
    border-radius: 5px;
  }